<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dra. Leiva</title>
    <link rel="stylesheet" href="../css/estilohorarios.css">
    <link rel="stylesheet" href="../css\estilo.css">
    <link rel="icon" href="..\img\logo.png">

</head>

<body>
    <header class="grid-header">

        <a href="..\index.html"><img class="logo" src="..\img\logo.png"></a>

        <div class="inicioregistro">
            <a href="iniciosesion.html">Inicio Sesión</a>
            <a href="form.html">Registrarse</a>
        </div>
    </header>
    <nav class="grid-nav">
        <ul>
            <li><a href="..\index.html">Pagina Principal</a></li>
            <li><a href="profesionales.html">Profesionales</a></li>
            <li><a href="turnos.html">Turnos</a></li>
            <li><a href="apipage.html">Pacientes</a></li>
        </ul>
    </nav>

    <main class="reserva">
        <h1>Seleccione un turno con la Dra. Angela Leiva</h1>
        <p class="dia">Martes</p>
        <form action="link" method="get">
            <label>
                <input type="radio" name="Leiva" value="7/11 15 horas">
                7/11 15 horas
            </label>
            <label>
                <input type="radio" name="Leiva" value="7/11 16 horas">
                7/11 16 horas
            </label>
            <p class="dia">Jueves</p>
            <label>
                <input type="radio" name="Leiva" value="23/11 15 horas">
                23/11 15 horas
            </label>
            <label>
                <input type="radio" name="Leiva" value="23/11 16 horas">
                23/11 16 horas
            </label>
            <input class="button" type="submit" value="Reservar turno">
        </form>
    </main>

    <footer class="grid-footer">
        <section class="servicios">
            <ul>
                <li><a href="">Contacto</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Empleos</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>

        </section>
        <section class="ubicacion">
            <h4>Donde Estamos</h4>
            <p>Rodriguez Peña 237 - C1042 -</p>
            <p>CABA</p>
            <a href="ubicacion.html">Ver Mapa</a>
        </section>
        <section class="redes">
            <h4>Redes Sociales</h4>
            <span>
                <a href=""><img src="..\img/linkedin.png"></a>
                <a href=""><img src="..\img\instagram.png"></a>
                <a href=""><img src="..\img\facebook.png"></a>
            </span>
        </section>
        <section class="copy">
            <p>Copyright Alfaconsultorios - 2023. Todos los derechos reservados. </p>
        </section>
    </footer>
    <a href="https://web.whatsapp.com/" target="_blank"><img src="..\img\whatsapp.png" class="whats"></a>

</body>

</html>