{%extends "turnosmedicos/base.html" %}
{%load static%}
{%block title%}sistema de turnos {%endblock%}
{%block extra_css%}
<link rel="stylesheet" href="{%static 'turnosmedicos/css/estiloiniciosesion.css'%}">
{%endblock%}
{%block main%}

<main class="form">

    
    <!-- <form action="{% url 'form'%}" method="get">
        {% csrf_token %}
        {{form.as.p}}
        <input class="submit" type="submit" value="Registrar">
    </form> -->
    <BR></BR>
    <h1><br>DNI {{object.dni}}<br></h1>
   
    <h3><br>CONTRASEÑA {{object.contraseña}}<br</h3>
    <h4><br>NOMBRE {{object.nombre}}<br></h4>
    <h4><br>E-MAIL {{object.mail_paciente}}<br></h4>
    <!-- <form action="Link" method="get" class="sesion">
        <label>e-mail:</label>
        <input type="email">

        <label>contraseña:</label>
        <input type="password">

        <p class="contrasena"><a href="">¿Olvidaste tu contraseña?</a></p>
        <input class="submit" type="submit" value="iniciar sesion">

        <p class="crearcuenta">¿No tenés cuenta? <a href="{% url 'form' %}">Crear Cuenta</a></p>
        <form> -->
</main>


{%endblock%}