{%extends "turnosmedicos/base.html" %}
{%load static%}
{%block title%}Inicio de Sesión {%endblock%}
{%block extra_css%}
<link rel="stylesheet" href="{%static 'turnosmedicos/css/estiloiniciosesion.css'%}">
<link rel="stylesheet" href="{% static 'turnosmedicos/css/estilo.css' %}">
{%endblock%}
{%block main%}

<h2>Inicio de Sesión del paciente</h2>
   
    <!-- <h3>{{object.mail_paciente}}</h3>
    <h4>{{object.contraseña}}</h4> -->
    <form action="Link" method="get" class="sesion">
        <label>e-mail:</label>
        <input type="email">

        <label>contraseña:</label>
        <input type="password">

        <p class="contrasena"><a href="">¿Olvidaste tu contraseña?</a></p>
        <input class="submit" type="submit" value="iniciar sesion">

        <p class="crearcuenta">¿No tenés cuenta? <a href="{% url 'form' %}">Crear Cuenta</a></p>
        <form>
{%endblock%}