{%extends "turnosmedicos/base.html" %}
{%load static%}
{%block title%}Reserva de turnos médicos {%endblock%}
{%block extracss%}
<link rel="stylesheet" href="{%static 'turnosmedicos/css/estiloturnos.css'%}">
{%endblock%}
{%block main%}

<h2>Reservar turno</h2>
<section>
  
  {%for Turno in listadoTurno %}
  <article>
    <p>{{Turno.diasem}} </p>
    <p>{{Turno.hora_desde}} </p>
    <p>{{Turno.duracion}}</p>
    <p>{{Turno.matricula}}</p>
    <p>{{Turno.dni}}</p>
    <div>
      <ul>
        <li><a href="{% url 'iniciosesion anterior' pk=Turno.id %}">lista un turno</a></li>
        <li><a href="{% url 'modifturno' pk=Turno.id %}">modifica un turno</a></li>
        <li><a href="{% url 'borrarturno' pk=Turno.id %}">Elimina un turno para paciente y profesional</a></li>
      </ul>
    </div>
  </article>
  {% empty %}
  <article>No hay Turnos cargados</article>
  {% endfor %}
  <p>Seleccione su turno del listado </p>

</section>

{%endblock%}