{%extends "turnosmedicos/base.html" %}
{%load static%}
{%block title%}Reserva de turnos médicos {%endblock%}
{%block extra_css%}
<link rel="stylesheet" href="{%static '/turnosmedicos/css/estiloturnos.css'%}">
{%endblock%}
{%block main %}

<h2>Reservar turno</h2>
<section>

  {%for paciente in listado_paciente %}
  <article>
    <p>nombre del paciente: {{paciente.nombre}} </p>
    <p>apellido: {{paciente.apellido}} </p>
    <p>mail: {{paciente.mail_paciente}}</p>
    <p>obra social: {{paciente.obra_social_listado}}</p>
    <div >
      
        <a  href="{% url 'iniciosesion anterior' pk=paciente.id %}" >ver</a>
        <a  href="{% url 'form_modif' pk=paciente.id %}">modificar</a>
        <a  href="{% url 'form_borrar' pk=paciente.id %}">Eliminar</a>
     
    </div>

  </article>
  {% empty %}
  <article>No hay pacientes cargados</article>
  {% endfor %}
  <p>Seleccione su paciente</p>

</section>

{%endblock%}