{%extends "turnosmedicos/base.html" %}
{%load static%}
{%block title%}Acerca de Nosotros {%endblock%}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'turnosmedicos/css/estilo.css' %}">
<link rel="stylesheet" href="{%static 'turnosmedicos/css/estiloquienesomos.css'%}">
{%endblock%}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{%block main%}

    <main class="mainqui">
        <section class="divimg">
            <img class="imgqui" src="{%static 'turnosmedicos/img/quienes_somos.png'%}" alt="">
        </section>
        <section class="divcon">
            <h2><b><u><img src="{%static 'turnosmedicos/img/idea.gif'%}" height="25px" alt=""> Misión <img src="{%static 'turnosmedicos/img/idea.gif'%}" height="25px"
                            alt=""></b></u></h2>

            <p>
                Brindar atención médica de excelencia, con calidez, a través de un equipo de salud comprometido con la
                capacitación y la innovación tecnológica, cumpliendo con los mas altos estándares de calidad y seguridad
                y
                logrando la máxima satisfacción de los pacientes.
            </p>

            <h2><b><u><img src="{%static 'turnosmedicos/img/lapiz.gif'%}" height="25px" alt=""> Visión <img src="{%static 'turnosmedicos/img/lapiz.gif'%}" height="25px"
                            alt=""></b></u></h2>
            <p>
                Ser referentes en Buenos Aires por la calidad asistencial, seguridad y satisfacción
                del paciente al brindar servicios de salud a una tarifa asequible por la ciudadanía.
            </p>

            <h2><b><u><img src="{%static 'turnosmedicos/img/asistencia-social.gif'%}" height="25px" alt=""> Valores <img
                            src="{%static 'turnosmedicos/img/asistencia-social.gif'%}" height="25px" alt=""></b></u></h2>
            <p class="pval">
                <b><img src="{%static 'turnosmedicos/img/cheque.png'%}" height="20px" alt=""> Ética:</b> Promovemos el pleno respeto de los
                derechos reconocidos por nuestra sociedad y los valores que ésta
                comparte.
            </p>
            <p class="pval">
                <b><img src="{%static 'turnosmedicos/img/cheque.png'%}" height="20px" alt=""> Profesionalismo:</b> Cada uno de nuestros
                colaboradores (tanto médicos, como bioquímicos, kinesiólogos,
                enfermeros, técnicos, administrativos y el resto del personal de apoyo) debe demostrar en cada una de
                sus
                acciones que su atención esta centrada en el paciente y que posee la capacidad de mejorar la calidad de
                su
                performance a través de conductas proactivas que los lleven a superar sus metas en términos cualitativos
                y
                cuantitativos.
            </p>
            <p class="pval">
                <b><img src="{%static 'turnosmedicos/img/cheque.png'%}" height="20px" alt=""> Calidez:</b> Cada uno de nuestros colaboradores debe
                evidenciar que se encuentra comprometido haciendo el máximo
                esfuerzo a fin de que las experiencias de los pacientes sean satisfactorias brindando para ello su mayor
                afectividad y colaboración.
            </p>
            <p class="pval">
                <b><img src="{%static 'turnosmedicos/img/cheque.png'%}" height="20px" alt=""> Trabajo en equipo:</b> Promovemos facilitamos e
                incentivamos una atmósfera de honestidad, de franqueza y de
                máxima integridad para lograr la colaboración y el trabajo en equipo entre todos nuestros servicios y en
                cada uno de nuestros colaboradores. Consideramos que la cooperación, el trabajo en equipo y la búsqueda
                de
                sinergias son requisitos imprescindibles para lograr la misión institucional y para aprovechar al máximo
                las
                capacidades de nuestro capital humano, de nuestros recursos y de la diversidad de conocimientos.
            </p>
            <p class="pval">
                <b><img src="{%static 'turnosmedicos/img/cheque.png'%}" height="20px" alt=""> Excelencia:</b> Consideramos indispensable para el
                cumplimiento de nuestra misión, garantizar la máxima calidad
                en cada aspecto de nuestro trabajo.
            </p>
            <p class="pval">
                <b><img src="{%static 'turnosmedicos/img/cheque.png'%}" height="20px" alt=""> Formación continua:</b> Entendemos que el cambio es
                inevitable y que la capacidad de adaptación determina el
                éxito en el futuro, por lo que promovemos, incentivamos y desarrollamos acciones para que cada uno de
                nuestros servicios y colaboradores trabaje fuertemente en la actualización de sus conocimientos y en la
                adquisición de nuevos, así como en el fortalecimiento de sus habilidades actuales y en el desarrollo de
                nuevas.
            </p>
        </section>
    </main>
    
    {%endblock%}
    