<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="..\css\estilo.css">
    <link rel="icon" href="..\img\logo.png">
    <style>
        .hide {
            display: none;
        }
        .show{
            display:block;
        }
    </style>


</head>

<body>


    <header class="grid-header">

        <a href="../index.html"><img class="logo" src="..\img\logo.png"></a>

        <div class="inicioregistro">
            <a href="iniciosesion.html">Inicio Sesión</a>
            <a href="form.html">Registrarse</a>
        </div>
    </header>
    <nav class="grid-nav">
        <ul>
            <li><a href="..\index.html">Página Principal</a></li>
            <li><a href="profesionales.html">Profesionales</a></li>
            <li><a href="turnos.html">Turnos</a></li>
        </ul>
    </nav>


    <h2 class="titulo">Términos y Condiciones</h2>
    <section class="preguntas">
        <div class="preguntas">
            <ul>
                <li></li>
            </ul>

        </div>


    </section>


 
    <footer class="grid-footer">
        <section class="servicios">
            <ul>
                <li><a href="">Contacto</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Empleos</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>

        </section>
        <section class="ubicacion">
            <h4>Donde Estamos</h4>
            <p>Rodriguez Peña 237 - C1042 -</p>
            <p>CABA</p>
            <a href="ubicacion.html" >Ver Mapa</a>
        </section>
        <section class="redes">
            <h4>Redes Sociales</h4>
            <span>
                <a href=""><img src="..\img/linkedin.png"></a>
                <a href=""><img src="..\img\instagram.png"></a>
                <a href=""><img src="..\img\facebook.png"></a>
            </span>
        </section>
        <section class="copy">
            <p>Copyright Alfaconsultorios - 2023. Todos los derechos reservados. </p>
        </section>
    </footer>
    <a href="https://web.whatsapp.com/" target="_blank"><img src="..\img\whatsapp.png" class="whats"></a>
</body>

</html> 
