{%extends "turnosmedicos/base.html" %}
{%load static%}
{%block title%}Reserva de turnos médicos {%endblock%}
{%block extracss%}
<link rel="stylesheet" href="{%static 'turnosmedicos/css/estiloturnos.css'%}">
{%endblock%}
{%block main%}

<h1>Reservar turno</h1>
<h2>{% block section_title %}{% endblock %}</h2>
<nav>
  <p><B>LISTADO DE TODO TIPO</B></p>
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'paciente_listado' %}">Listado de pacientes</a></li>
    <li><a href="{% url 'listadoprofesional' %}">Listado de profesionales</a></li>
    <li><a href="{% url 'listadoespecialidad' %}">Listado de especialidades médicas</a></li>
    <li><a href="{% url 'listadoHorario' %}">Listado de Horarios</a></li>
    <li><a href="{% url 'listadoTurno' %}">Listado de Turnos de un profesional</a></li>
  </ul>
  <P><B>ALTAS DE TODO TIPO</B></P>
  <ul>
    <li><a href="{% url 'form_especialidad' %}">Agregar nueva especialidad</a></li>
    <li><a href="{% url 'form_profesional' %}">Agregar nuevo profesional</a></li>
    <li><a href="{% url 'form_horario' %}">Agregar nuevo horario</a></li>
    <li><a href="{% url 'form_turno' %}">Agregar nuevo turno para paciente</a></li>
  </ul>
  <P><B>ELIMINACIONES DE TODO TIPO</B></P>
  <!--  -->
  <P><B>MODFICACIONES DE TODO TIPO</B></P>
  <ul>
    
   
  </ul>

</nav>


{%endblock%}